@model CadastroPessoas.Models.Pessoa;

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Pessoas</h4>
    <hr />
    <dl class="list-group-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index">Voltar</a>
</div>
